body {
    height: 100%; 
    background-image: url('https://wallpaperaccess.com/full/1286443.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.board-container td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: .5s;
}

img {
    border-radius: 50% ;
}


td {
    background-color: rgb(255, 135, 113);
    font-family: 'Lexend Deca', sans-serif;
}

.white {
    background-color: rgb(255, 245, 191);
}

button {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    background-color:  rgb(255, 135, 113);
    padding: 7px 16px;
    margin: 5px 0px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

h3 {
    font-family: 'Lexend Deca', sans-serif;
}

.modal-content {
    font-family: 'Lexend Deca', sans-serif;
}